body{
    background-color: darkslateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title{
    text-align: center;
    color: white;
    
}

.wrapper{
    background-color: rgb(114, 110, 138);
    height: 100vh;
    margin: 20px;
    border-style: groove;
    border-width: 10px;
    border-color: red
}

#box1{
    width: 40vh;
    height: 80vh;
    background-color: darkmagenta;
    float: left;
}

#box2{
    width: 40vh;
    height: 80vh;
    background-color:palevioletred;
    float: left;
}

#box3{
    width: 40vh;
    height: 80vh;
    background-color: navy ;
    float: right;
}

#box4{
    width: 40vh;
    height: 80vh;
    background-color: seagreen;
    float: right;
}

.boxes{
    margin: 20px;
    padding: 10px;
    color: greenyellow;
    font-weight: bold;
    text-align: center;
    border: solid 5px black;
}

.small{
    padding: 10px;
    background-color: aqua;
    height: 300px;
    width: 300px;
    font-size: small;
    margin: 150px 25px 50px 25px;
    color: black;
    border: dashed 5px black;
}